fastapi
uvicorn
pyautogui
urwid
prompt_toolkit
pydantic
pytest
transformers
duckdb
huggingface_hub
openai
requests
streamlit
streamlit-autorefresh
llama-cpp-python
scikit-learn==1.5.*
spacy==3.7.*
datasets
jinja2
prometheus_client
cryptography
GPUtil
psutil
matplotlib
neo4j
PyJWT
markdown
pytesseract
fitz
bs4
plotly
seaborn
redis 
psycopg
chardet
httpx
tenacity
